[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
swap = "F1xY4dcuk8xfGzRxnBPASY8YHXxZxd6avTweqvNKEoYK"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "http://localhost:8900"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
